<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="common/common_html :: headtop"></div>

</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->

		<div th:replace="common/common_html :: sidetree"></div>

		<div th:replace="common/common_html :: leftmenu"></div>



		<div class="main">
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-headline" id = "sjxx">

					</div>
				</div>
			</div>

<!--			<iframe  style="border:0px;width: 95%;height: 800px" src="http://player.bilibili.com/player.html?aid=925431198&bvid=BV12T4y1g7se&cid=182745776&page=1&high_quality=1&danmaku=0"-->
<!--					 allowfullscreen="allowfullscreen"  scrolling="no" frameborder="0" sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"> </iframe>-->
		</div>


	<script type="text/javascript">
		$(function() {
			$.ajax({
				url:'fileList',// 跳转到 action

				type:'post',
				cache:false,
				dataType:'json',
				success:function(data) {
					var html ='';
					for (var i = 0; i <data.length ; i++) {
						html +='<div class="panel-body">';
						html +='<h1><a href="jumpPage?vewpate=file/readmd&filemdid='+data[i].fileid+'"">'+data[i].filename+'</a></h1>';
						html +='<p class="lead">'+data[i].filecontent+'</p>';
						html +='<span >'+format(data[i].createtime)+'</span>&nbsp;&nbsp;';
						html +='<a href="#" style="float:right;text-align:right">下载</a><span style="float:right;">&nbsp;&nbsp;</span><a href="#" style="float:right;text-align:right">编辑</a>'
						html +='<hr></div>';
					}
					console.log(html)
					$("#sjxx").html(html);
				},
				error : function() {

					alert("异常！");
				}
			});
		});

		function format(date){
			var datetime = new Date(date);
			var	y = datetime.getFullYear();
			var	m = datetime.getMonth()<10?'0'+datetime.getMonth():datetime.getMonth();
			var	d = datetime.getDay()<10?'0'+datetime.getDay():datetime.getDay();
			return y+'年'+m+'月'+d+'日';

		}

	</script>
</body>

</html>

